[submodule "lib/aimlsse-api"]
	path = lib/aimlsse-api
	url = git@github.com:ErikWessel/MSCC-API.git
[submodule "services/ground-data-service"]
	path = services/ground-data-service
	url = git@github.com:ErikWessel/MSCC-METAR-Service.git
[submodule "services/satellite-data-service"]
	path = services/satellite-data-service
	url = git@github.com:ErikWessel/MSCC-Sentinel-2-Service.git
[submodule "notebooks"]
	path = notebooks
	url = git@github.com:ErikWessel/MSCC-Notebooks.git
